*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
html {
  scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/107699-pixel-art.png);
    background-attachment: fixed;
    background-color: #733F6A;
    font-family: 'Shantell Sans', cursive;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
a {
    text-decoration: none;
  }
  
  input {
    outline: none;
  }
  
  textarea {
    resize: none;
    outline: none;
  }
  